table {
    width: 100%;
}

body {
    font-family: "Roboto";
}

ul {
    list-style-type: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.header {
    padding: 20px
}

#logo {
    margin-left: 50px;
    border-radius: 10%
}

.logo {
    padding: 5px;
    padding-top: 8px;
}

.side-menu-items {
    text-align: justify;
    cursor: pointer;
    color: #549afc;
    padding: 5px;
    font-size: 15px;
}

.side-menu-items:active {
    cursor: pointer;
    color: #5a5757;
    padding: 5px;
    font-size: 15px;
}

.side-menu-heading {
    font-weight: 500;
    padding: 5px;
    font-size: 17px;
}

.navbar-style {
    background: white;
}

.navbar-border {
    border-bottom: 1px solid rgba(84, 154, 252, 0.23);
}

.app-items:hover {
    background: white
}

.profile-icon {
    font-size: 25px;
}

.footer-item {
    font-size: 12px;
}

.below-navbar {
    border-bottom: 1px solid #d2cdcd;
    margin-bottom: 10px
}

.side-item-selected {
    background-color: #ececec;
    color: black;
    border-radius: 3px;
    margin-right: 15px
}

.dashboard-menuitem {
    padding-top: 3px;
}

.appid-menuitem {
    padding-top: 3px;
}

.dashboard-icon {
    font-size: medium
}

.profilePic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.selected-app {
    background: #e8e8e8;
    border-radius: 3px;
    margin-left: 1px;
    margin-right: 1px
}

.myApps-heading {
    padding: 5px;
    background: #e8e8e8;
    text-align: center;
    margin-top: -5px;
    cursor: default;
}

.top-menu-item {
    background: #aac7e8;
    padding: 10px 15px;
    cursor: pointer;
}

.mainbody {
    margin-top: 10px;
}


/*
segmentation styling
*/

.segmentation-details {
    border-radius: 5px;
}

.segmentation-details-header {
    padding: 10px;
    background: #d8e0e6;
}

.segmentation-details-body {
    padding: 20px;
}

.segmentation-details-by-label {
    background: #d8e0e6;
    position: absolute;
    padding: 5px 30px;
    margin-left: 10px;
}

.segmentation-details-show-btn {
    margin-left: 80%;
}

.segmentation-details-footer {
    padding: 10px;
    background: #d8e0e6;
}

.segmentation-chart {
    border-radius: 5px;
    height: 500px;
}

.segmentation-data {
    border-radius: 5px;
}

.segmentation-data-table-heading {
    background: #d8e0e6;
    border: 1px solid;
    padding: 5px;
}

.segmentation-data-table-data {
    border-right: 1px solid;
    border-left: 1px solid;
    padding: 5px;
}

.segmentation-details-addrule-icon {
    color: #549afc;
    border-radius: 50%;
    border: 1px solid #d8e0e6;
    padding: 4px 7px;
    font-size: 20px;
    background: #d8e0e6;
    margin-top: 15px;
    margin-left: 40%;
}

.segmentation-chart-filter-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    color: grey;
    font-weight: 500;
}

.segmentation-chart-filter-list {
    border: 1px solid #e5d8be;
    background: #fffce7;
    padding: 5px;
}

.segmentation-chart-filter {
    display: inline-block;
    padding: 8px;
    background: #d8e0e6;
}

.checkbox-design {
    background-image: url('https://cdn.mxpnl.com/site_media/images/backbone_widgets/select/checkmark.svg');
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
    vertical-align: middle;
    border-radius: 4px;
    margin-right: 5px;
}

.white {
    background-color: white!important;
    border: 2px solid #c2c2c2;
    ;
}


/*
segementation styling ends
*/


/*
funnel styling
*/

.funnel-details {
    background: #d8e0e6;
    padding: 10px;
    border-radius: 5px;
}

.funnel-details-edit-icon {
    margin-left: 10px;
}

.funnel-chart {
    border-radius: 5px;
    height: 500px;
    margin-bottom: 70px;
}

.funnel-data {
    border-radius: 5px;
}

.funnel-data-table-heading {
    background: #d8e0e6;
    border: 1px solid;
    padding: 5px;
}

.funnel-data-table-data {
    border-right: 1px solid;
    border-left: 1px solid;
    padding: 5px;
}

.funnel-data-overview-span {
    background: #d8e0e6;
    padding: 10px;
    margin-bottom: 10px;
}

.funnel-close-icon {
    color: red;
}

.funnel-close-icon:hover {
    color: red;
}

.funnel-date-range-selector {
    background: #d8e0e6;
    margin-top: 5px;
    padding: 5px 0 10px 10px;
}

.segmentation-date-range-selector {
    background: #d8e0e6;
    margin-top: 5px;
    padding: 5px 0 10px 10px;
}

.funnel-date-range {
    display: none;
}

.segmentation-date-range {
    display: none;
}

.date-range-field {
    padding: 3px;
    border-radius: 4px;
    background: #e7ecf0;
    margin-right: 10px;
    margin-top: 5px;
    border: 1px solid #c3c3c3;
}

.segmentation-date-range-field {
    padding: 3px;
    border-radius: 4px;
    background: #e7ecf0;
    margin-right: 10px;
    margin-top: 5px;
    border: 1px solid #c3c3c3;
}

.blue-border {
    border: 2px solid #4f9cf5;
}

.funnel-done-btn {
    display: none;
}

.segmentation-done-btn {
    display: none;
}

.funnel-completion-percentage {
    font-weight: bold;
    font-size: 20px;
}

.funnel-completion-percentage-text {
    font-size: 10px;
}

.delete-btn-modal {
    background: #D60A00;
}

.delete-btn-modal:hover {
    background: #D60A00;
}

.delete-modal-body {
    text-align: center;
    padding: 30px;
    font-family: Signika;
    color: #585858;
    font-size: large;
}

.delete-modal-header-style {
    color: white;
    background: #D60A00;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: Signika;
}

.delete-modal-icon-style {
    border-radius: 50%;
    background: #9b0601;
    font-size: 30px;
    width: 60px;
    padding: 15px;
    content: url("trash.png");
}

.modal-title {
    font-size: 20px;
}

.modal-title-inner-text {
    font-size: 14px;
    font-weight: normal;
    font-family: Signika;
}


/*
funnel styling ends
*/


/*
LiveView Styling
*/

.panel-default>.panel-heading {
    background-image: -webkit-linear-gradient(top, #ffffff 0, #ffffff 100%);
    background-image: -o-linear-gradient(top, #ffffff 0, #ffffff 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
}

.panel-default {
    border-color: white
}

.liveview-property-name {
    color: #6f6f6f;
}

.liveview-property-value {
    font-weight: bold;
    padding-left: 5px;
    color: #6f6f6f;
}

.col-hidden {
    display: none!important;
}

.liveview-table {}

.liveview-table-data {
    border-left: none!important;
    border-right: none!important;
    padding: 10px!important;
}

.liveview-inner-table {}

.liveview-inner-table-data {
    border-left: none!important;
    border-right: none!important;
    padding: 10px!important;
}


/*
LiveView Styling ends
*/

.dropdown-menu {
    height: 200px;
    overflow-y: scroll;
}


/*
CreateFunnel Styling
*/

.cf-heading {
    background: #f5f5f5;
    padding: 10px;
    color: grey;
    font-size: 20px;
    border-radius: 5px
}

.funnelStep {
    margin: 20px 0px;
}

.fs-heading {
    background: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    color: grey;
}

.fs-close-icon {
    font-size: 15px;
    cursor: pointer;
}

.fs-select-event {
    background: url('../img/search_icon.png'), url('../img/down_icon.png');
    background-position: left, right;
    background-repeat: no-repeat;
    padding-left: 27px;
    width: 200px;
    display: inline;
}

.fs-select-property {
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    width: 200px;
}

.fs-select-value {
    margin-left: 10px;
    display: inline;
    width: 200px;
}

.query_right_icon {
    color: #549afc;
    border-radius: 50%;
    border: 1px solid #d8e0e6;
    padding: 4px 10px;
    font-size: 20px;
    background: #d8e0e6;
    margin-left: 10px;
    margin-right: 10px;
}

.query_close_icon {
    color: #549afc;
    font-size: 13px;
    margin-left: 10px;
}

.query_close_icon:hover {
    color: red;
}

.fs-selection-row {
    display: inline-block;
    margin-top: 10px;
}


/*remove datalist caret*/

input::-webkit-calendar-picker-indicator {
    display: none;
}


/*
CreateFunnel Styling ends
*/

ling ends */ s */ s */ s */ s */ */ s */ / s */
